//+ Leaderboard Admin Styles
//+ --------------------------------------------------

$btnBorderWidth: 1px;

& {
    // this is the <body class="ldrbd-admin"> elem
    padding-top: $navbarHeight + $gridGutterWidth;
}

input {
    &:focus {
        outline: 0;
        // inset box shadow only - no "glow" on focus
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    }
}
.btn {
    &:focus {
        outline: 0;
    }
    .glyphicon {
        &:before {
            margin: 0;
            vertical-align: middle;
        }
    }
}

.contestant-grid {

    td {
        &.actions {
            width: 85px;
            min-width: 85px;
            max-width: 85px;
            .text { display: none; }

            .create {
                width: 79px; // match the width of the two little delete/update icon buttons
            }

            .btn {
                &:hover, 
                &:focus {
                    outline: 0;
                    opacity: 1;
                }
            }
        }
    }

    // row for creating new contestants
    .new {
        td, th { 
            border-top-color: mix($headerBgDark, $newRowAccentBg, 15%);
            border-bottom: 1px solid mix($headerBgDark, $newRowAccentBg, 10%); // light chisel
            background-color: $newRowAccentBg;
        }
        &:hover {
            td, th { background-color: darken($newRowAccentBg, 5%); }
        }
        input { font-weight: bold; }
        .btn { width: 100%; display: block; opacity: .8; }

        // first "existing" row (directly adjacent to .new) will create the light chisel
        + .existing {
            td, th {
                // can't use borders since they collapse
                @include box-shadow(inset 0 1px 0 0 #fff);
            }
        }

    }

    // row for existing contestants
    .existing {
        .delete, .update {
            color: $grayLight;
            .text {
                margin-left: 4px; // space out from icon
            }
        }
        .add { 
            color: $successText; 
            .caret {
                border-bottom-color: $successText;
            }
        }
        .subtract { 
            color: $errorText; 
            .caret {
                border-top-color: $errorText;
            }
        }
        .delete, .add {
            &:hover,
            &:focus {
                @extend .btn-danger;
                .icon {
                    @extend .icon-white;
                }
            }
        }
        .update, .subtract {
            &:hover,
            &:focus {
                @extend .btn-success;
                .icon {
                    @extend .icon-white;
                }
            }
        }
    }

    // appended inputs
    .input-append {
        white-space: normal; // allow the table cells to resize natively
        width: 96%;
        height: 100%;
        position: relative;
        margin: 0;
        input {
            width: 98%;
            border-right: 0 none;
            position: static;
            padding-right: 80px - ($btnBorderWidth * 2); // there are two horizontally-aligned buttons
            @include box-sizing(border-box);
            height: $inputHeight;
        }
        // horizontally aligned spin buttons (-/+)
        .btn-group {
            position: absolute;
            z-index: 3; // keep above input even when its focused
            right: 0;
            .btn {
                // keep them the same width
                min-width: 40px;
                font-weight: bold;
                &:first-child {
                    @include border-left-radius(0);
                }
            }
        }
    }

    // vertically stacked spin buttons (for increasing/lowering lane #)
    // .lane .input-append {
    //     // input { 
    //     //     width: 84%;
    //     // }
    //     .btn-group-vertical {
    //         height: $inputHeight;
    //         .btn {
    //             min-width: 40px;
    //             height: $inputHeight / 2;
    //             line-height: $inputHeight / 2;
    //             padding: 0;

    //             &:first-child {
    //                 @include border-left-radius(0);
    //             }
    //             &:last-child {
    //                 margin-top: 0;
    //                 @include border-top-right-radius(0);
    //             }

    //             .caret {
    //                 margin: 5px 0 0 0;
    //                 &.up {
    //                     // rotate it
    //                     border-top-width: 0;
    //                     border-bottom-width: 4px;
    //                     border-bottom-style: solid;
    //                 }
    //             }
    //         }
    //     }
    // } // END spin buttons
}